.main {
    text-align: center;

}

.main h1 {
    margin-bottom: 50px;
}

.main button {
    font-size: large;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: none; */
    outline: none;
    cursor: pointer;


    margin-right: 10px;
}